/* =========================
   PÁGINA DE CADA MÊS
========================= */

.album-month-page {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100dvh;

  overflow: hidden;
}

/* =========================
   TÍTULO DO MÊS
========================= */

.album-month-title {
  position: relative;

  width: 100%;
  height: 18%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  z-index: 10;
}

.album-month-title h1 {
  margin: 0;

  font-size: clamp(3rem, 8vw, 7rem);
  line-height: 0.8;
}

.album-month-title p {
  margin: 0;

  font-size: clamp(1.2rem, 3vw, 2rem);
  font-style: italic;
}

/* =========================
   ÁREA DAS FIGURINHAS
========================= */

.album-stickers-area {
  position: relative;

  width: 100vw;
  height: 82%;

  overflow: hidden;
}

/* ======================================================
   TEMAS DAS PÁGINAS DO ÁLBUM

   Importante:

   --page-bg é a cor real da página.

   A figurinha usa essa variável no Sticker.css para ficar
   parecida com o fundo, só que um pouco mais clara.
====================================================== */

/* =========================
   TEMA AMARELO CLARO

   -Usado nas páginas normais ímpares
========================= */

/* =========================
   VARIÁVEIS DOS TEMAS
========================= */

.theme-yellow-light {
  --page-bg: #d4ac85;
  --page-text: #070504;

  --sticker-body-bg-amount: 68%;
  --sticker-strip-bg-amount: 75%;
  --sticker-placeholder-bg-amount: 78%;
}

.theme-yellow-dark {
  --page-bg: #b98c69;
  --page-text: #070504;

  --sticker-body-bg-amount: 88%;
  --sticker-strip-bg-amount: 80%;
  --sticker-placeholder-bg-amount: 94%;
}

.theme-forma {
  --page-bg: #ffed00;
  --page-text: #000000;

  --sticker-body-bg-amount:  0%;
  --sticker-strip-bg-amount: 70%;
  --sticker-placeholder-bg-amount: 0%;
}

.theme-bonus-black {
  --page-bg: #070504;
  --page-text: #d8b46c;

  --sticker-body-bg-amount: 70%;
  --sticker-strip-bg-amount: 55%;
  --sticker-placeholder-bg-amount: 82%;
}

.theme-forma-black {
  --page-bg: #070504;
  --page-text: #d8b46c;

  --sticker-body-bg-amount: 70%;
  --sticker-strip-bg-amount: 55%;
  --sticker-placeholder-bg-amount: 82%;
}

/* =========================
   APLICANDO FUNDO NA PÁGINA
========================= */

.album-month-page.theme-yellow-light,
.album-month-page.theme-yellow-dark,
.album-month-page.theme-forma,
.album-month-page.theme-bonus-black,
.album-month-page.theme-forma-black {
  background-color: var(--page-bg);
  color: var(--page-text);
}
/* =========================
   AJUSTES DAS FIGURINHAS EM TEMAS ESCUROS
========================= */

.theme-bonus-black .album-sticker,
.theme-forma-black .album-sticker {
  --sticker-text-color: #f3dfcb;
  --sticker-inner-border: #ffffff22;
}