@font-face {
  font-family: "Chau Philomene One";
  src: url("../../Fonts/ChauPhilomeneOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* =========================
   PÁGINA PRINCIPAL DO ÁLBUM
========================= */

.album-page {
  position: relative;

  width: 100%;
  height: 100dvh;
  overflow: hidden;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: #d4ac85;
  z-index: 100;
}



 


